mixin card(altText, imagePath, price, name, info)
    .col.w-md-25.adapt-col
        figure.main-tours.adapt-figure
            .position-relative
                        
                svg.d-flex.position-absolute(top-0 left-0)(version="1.1" xmlns="http://www.w3.org/2000/svg" width="60" height="60")
                    path(
                    d="M0 0 C19.8 0 39.6 0 60 0 C56.20834147 4.42360162 52.55902163 8.56685624 48.46948242 12.65991211 C47.95327332 13.17787354 47.43706421 13.69583496 46.9052124 14.22949219 C45.22444461 15.91460729 43.54011073 17.59610245 41.85546875 19.27734375 C40.6780207 20.45546627 39.50072105 21.63373714 38.32356262 22.81214905 C35.87007913 25.2670993 33.41481459 27.72025018 30.95825195 30.17211914 C27.80279266 33.32184384 24.65189484 36.4760878 21.50228405 39.63165951 C19.07897374 42.05857094 16.65330227 44.48311106 14.22689247 46.90692329 C13.06308821 48.07005899 11.90003042 49.23394206 10.7377224 50.39857292 C9.12206237 52.01675614 7.50326051 53.63172723 5.88354492 55.24584961 C4.96232346 56.16627548 4.04110199 57.08670135 3.09196472 58.03501892 C1 60 1 60 0 60 C0 40.2 0 20.4 0 0 Z"
                    fill="#25CB15"
                    transform="translate(0,0)"
                    )
                    path(
                    d="M0 0 C0.66 0 1.32 0 2 0 C2.33 1.65 2.66 3.3 3 5 C4.65 5 6.3 5 8 5 C8 5.66 8 6.32 8 7 C7.01 7.495 7.01 7.495 6 8 C6 10.31 6 12.62 6 15 C5.0925 14.649375 4.185 14.29875 3.25 13.9375 C0.12241564 13.03531221 -1.05208081 12.86618493 -4 14 C-3.9071875 12.88625 -3.9071875 12.88625 -3.8125 11.75 C-4.03094296 8.54616994 -4.90250005 7.35968744 -7 5 C-5.02 5 -3.04 5 -1 5 C-0.67 3.35 -0.34 1.7 0 0 Z"
                    fill="#F0FBEF"
                    transform="translate(18,9)"
                    )



                //- svg.d-flex.position-absolute(top-60 left-0)(
                //-     xmlns="http://www.w3.org/2000/svg"
                //-     version="1.1"
                //-     width="60px"
                //-     height="100px"
                //-     style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                //-     xmlns:xlink="http://www.w3.org/1999/xlink"
                //-     )
                //-     g
                //-         path(
                //-         style="opacity:1"
                //-         fill="#0199ff"
                //-         d="M -0.5,-0.5 C 19.5,-0.5 39.5,-0.5 59.5,-0.5C 59.5,62.8333 59.5,126.167 59.5,189.5C 39.5,189.5 19.5,189.5 -0.5,189.5C -0.5,126.167 -0.5,62.8333 -0.5,-0.5 Z"
                //-         )
                //-     g
                //-         path(
                //-         style="opacity:1"
                //-         fill="#f4faff"
                //-         d="M 34.5,77.5 C 38.35,77.7007 39.35,79.5341 37.5,83C 33.5369,83.1177 32.5369,81.2843 34.5,77.5 Z"
                //-         )
                //-     g
                //-         path(
                //-         style="opacity:1"
                //-         fill="#f0f8ff"
                //-         d="M 28.5,82.5 C 32.012,83.0046 34.3454,85.0046 35.5,88.5C 37.396,89.4656 39.396,89.7989 41.5,89.5C 41.5,90.5 41.5,91.5 41.5,92.5C 37.1703,93.2682 33.837,91.9349 31.5,88.5C 26.8123,90.5685 26.6456,92.5685 31,94.5C 31.4986,98.1516 31.6653,101.818 31.5,105.5C 30.5,105.5 29.5,105.5 28.5,105.5C 29.7431,99.7509 27.7431,95.9176 22.5,94C 21.9415,93.2753 21.6082,92.4419 21.5,91.5C 23.4425,88.2208 25.7758,85.2208 28.5,82.5 Z"
                //-         )
                //-     g
                //-         path(
                //-         style="opacity:1"
                //-         fill="#e2f2ff"
                //-         d="M 14.5,95.5 C 22.517,95.0194 26.3504,98.6861 26,106.5C 21.1747,114.061 15.8414,114.394 10,107.5C 9.33333,105.167 9.33333,102.833 10,100.5C 11.3657,98.6383 12.8657,96.9717 14.5,95.5 Z"
                //-         )
                //-     g
                //-         path(
                //-         style="opacity:1"
                //-         fill="#e0f1ff"
                //-         d="M 37.5,95.5 C 46.3216,94.8202 50.1549,98.8202 49,107.5C 43.1586,114.394 37.8253,114.061 33,106.5C 32.3333,104.833 32.3333,103.167 33,101.5C 34.332,99.34 35.832,97.34 37.5,95.5 Z"
                //-         )
                //-     g
                //-         path(
                //-         style="opacity:1"
                //-         fill="#1a9cff"
                //-         d="M 14.5,98.5 C 23.8645,97.9358 25.8645,101.436 20.5,109C 13.4949,110.324 10.9949,107.49 13,100.5C 13.7172,99.9558 14.2172,99.2891 14.5,98.5 Z"
                //-         )
                //-     g
                //-         path(
                //-         style="opacity:1"
                //-         fill="#189cff"
                //-         d="M 37.5,98.5 C 45.4894,97.3173 48.156,100.484 45.5,108C 38.2434,110.746 35.0768,108.246 36,100.5C 36.7172,99.9558 37.2172,99.2891 37.5,98.5 Z"
                //-         )
            img.card-logo(src=imagePath, alt=altText)
            figcaption.company-figcaption
                p.company-main-tour-title.tours-title #{name}
                p.company-main-tour-info.tours-info #{info}
                .col.company-main-tour-time.tours-time.flex-row
                    p.company-main-tour-price.tours-price #{price} грн*
                    a.company-main-tour-order.tours-order(href="#") Замовити 
                        //- svg(version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 11" width="12" height="11")
                        //-     style.
                        //-         .a {
                        //-         stroke: #ffb700;
                        //-         stroke-linejoin: round;
                        //-         }
                        //-         .b {
                        //-         fill: #ffb700;
                        //-         }
                        //-     path.a(d="m6.5 0c3 0 5.5 2.5 5.5 5.5 0 3-2.5 5.5-5.5 5.5-3 0-5.5-2.5-5.5-5.5 0-3 2.5-5.5 5.5-5.5z")
                        //-     path.b(d="m5.7 8.2l-0.7-0.7 2-2-2-1.9 0.7-0.8 2.7 2.7z")


