mixin card_travel(altText, imagePath, price, card_name, card_info, className="")
  figure.header-card.d-sm-flex.justify-content-sm-between.align-items-sm-center.justify-content-lg-center.flex-lg-column.mb-3.col-12.col-sm-11.col-lg-4.g-col-4(class=className)
    .card-img.container.text-center.mb-4.col-sm-6.col-xl-12
      img(src=imagePath, alt=altText).col-sm-5.col-lg-6.col-xl-3.m-auto
    figcaption.col-sm-6.col-lg-12
      h2.card-name.mb-2 #{card_name}
      p.price
        | #{price}
        sup *
      .card-info-container
        p.card-info #{card_info}

mixin button(textButton, link, className="")
    a(href="#" class=className)= textButton


mixin card(altText, imagePath, price, card_name, card_info, className="")
  figure.card-bottom.mb-3.col-12.col-sm-10.col-md-5.col-xxl-3.p-0.g-col-1(class=className)
    figcaption.col-12.d-flex.flex-column.justify-content-between
      .card-img.container.text-center.mb-4.col-12.p-0
        img(src=imagePath, alt=altText).col-12
      .col-12.m-auto.px-3
        h2.card-name.mb-2.text-start #{card_name}
      .card-info-container.col-12.px-3
        p.card-info.text-start.col-12.m-auto #{card_info}
      .col-12.m-auto.d-flex.justify-content-between.px-3
        .col-6.d-flex.justify-content-start.align-items-center
          p.price.text-start
            | #{price}
        .col-6.d-flex.justify-content-end.align-items-center
          a(href="#").order-button замовити <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm2 12l-4.5 4.5 1.527 1.5 5.973-6-5.973-6-1.527 1.5 4.5 4.5z"/></svg>


                //- svg.d-flex.position-absolute(top-60 left-0)(
                //-     xmlns="http://www.w3.org/2000/svg"
                //-     version="1.1"
                //-     width="60px"
                //-     height="100px"
                //-     style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                //-     xmlns:xlink="http://www.w3.org/1999/xlink"
                //-     )
                //-     g
                //-         path(
                //-         style="opacity:1"
                //-         fill="#0199ff"
                //-         d="M -0.5,-0.5 C 19.5,-0.5 39.5,-0.5 59.5,-0.5C 59.5,62.8333 59.5,126.167 59.5,189.5C 39.5,189.5 19.5,189.5 -0.5,189.5C -0.5,126.167 -0.5,62.8333 -0.5,-0.5 Z"
                //-         )
                //-     g
                //-         path(
                //-         style="opacity:1"
                //-         fill="#f4faff"
                //-         d="M 34.5,77.5 C 38.35,77.7007 39.35,79.5341 37.5,83C 33.5369,83.1177 32.5369,81.2843 34.5,77.5 Z"
                //-         )
                //-     g
                //-         path(
                //-         style="opacity:1"
                //-         fill="#f0f8ff"
                //-         d="M 28.5,82.5 C 32.012,83.0046 34.3454,85.0046 35.5,88.5C 37.396,89.4656 39.396,89.7989 41.5,89.5C 41.5,90.5 41.5,91.5 41.5,92.5C 37.1703,93.2682 33.837,91.9349 31.5,88.5C 26.8123,90.5685 26.6456,92.5685 31,94.5C 31.4986,98.1516 31.6653,101.818 31.5,105.5C 30.5,105.5 29.5,105.5 28.5,105.5C 29.7431,99.7509 27.7431,95.9176 22.5,94C 21.9415,93.2753 21.6082,92.4419 21.5,91.5C 23.4425,88.2208 25.7758,85.2208 28.5,82.5 Z"
                //-         )
                //-     g
                //-         path(
                //-         style="opacity:1"
                //-         fill="#e2f2ff"
                //-         d="M 14.5,95.5 C 22.517,95.0194 26.3504,98.6861 26,106.5C 21.1747,114.061 15.8414,114.394 10,107.5C 9.33333,105.167 9.33333,102.833 10,100.5C 11.3657,98.6383 12.8657,96.9717 14.5,95.5 Z"
                //-         )
                //-     g
                //-         path(
                //-         style="opacity:1"
                //-         fill="#e0f1ff"
                //-         d="M 37.5,95.5 C 46.3216,94.8202 50.1549,98.8202 49,107.5C 43.1586,114.394 37.8253,114.061 33,106.5C 32.3333,104.833 32.3333,103.167 33,101.5C 34.332,99.34 35.832,97.34 37.5,95.5 Z"
                //-         )
                //-     g
                //-         path(
                //-         style="opacity:1"
                //-         fill="#1a9cff"
                //-         d="M 14.5,98.5 C 23.8645,97.9358 25.8645,101.436 20.5,109C 13.4949,110.324 10.9949,107.49 13,100.5C 13.7172,99.9558 14.2172,99.2891 14.5,98.5 Z"
                //-         )
                //-     g
                //-         path(
                //-         style="opacity:1"
                //-         fill="#189cff"
                //-         d="M 37.5,98.5 C 45.4894,97.3173 48.156,100.484 45.5,108C 38.2434,110.746 35.0768,108.246 36,100.5C 36.7172,99.9558 37.2172,99.2891 37.5,98.5 Z"
                //-         )
                //- img.card-logo(src=imagePath, alt=altText)
                //- figcaption.company-figcaption
                //-     p.company-main-tour-title.tours-title #{name}
                //-     p.company-main-tour-info.tours-info #{info}
                //-     .col.company-main-tour-time.tours-time.flex-row
                //-         p.company-main-tour-price.tours-price #{price} грн*
                //-         a.company-main-tour-order.tours-order(href="#") Замовити 
                        //- svg(version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 11" width="12" height="11")
                        //-     style.
                        //-         .a {
                        //-         stroke: #ffb700;
                        //-         stroke-linejoin: round;
                        //-         }
                        //-         .b {
                        //-         fill: #ffb700;
                        //-         }
                        //-     path.a(d="m6.5 0c3 0 5.5 2.5 5.5 5.5 0 3-2.5 5.5-5.5 5.5-3 0-5.5-2.5-5.5-5.5 0-3 2.5-5.5 5.5-5.5z")
                        //-     path.b(d="m5.7 8.2l-0.7-0.7 2-2-2-1.9 0.7-0.8 2.7 2.7z")


